/* ---- VARIABLES ---- */

	/*COLORS*/
	$white: #F3F0F0;
	$gray: #9A9899;
	$black: #414143;
	$sage-light: #9ACEC1;
	$sage-dark: #68968E;
	$coral: #FF776F;
	$gold: #fbc926;
	$gold-shine: #f2d293;
	$gold-dark: #C3922E;


	/*FONTS*/
	@font-face {
		font-family: fadedBlockStyle; /*KG all of me*/
		src: url(../fonts/KGAllofMe.ttf);
	}

	@font-face {
		font-family: regularSkinnyCases; /* Aaargh */
		src: url(../fonts/Aaargh.ttf);
	}

	@font-face {
		font-family: thinUpperCases; /* Neoteric */
		src: url(../fonts/NEOTERIC_Regular.ttf);
	}

	@font-face {
		font-family: thinUpperCases; /* Neoteric */
		src: url(../fonts/NEOTERIC_Bold.ttf);
		font-weight: bold;
	}

	@font-face {
		font-family: handwriting;
		src: url(../fonts/hoffm___.ttf);
	}

	/*FREQUENT VALUES*/
	$nav-height: 50px;
	$xs-width: 480px;
	$sm-width: 768px;
	$md-width: 992px;
	$lg-width: 1200px;

/* ---- MIXINS ---- */

	/*COMPATIBILITY TIME SAVERS*/
	@mixin background-size($val) {
		-webkit-background-size: $val;
		-moz-background-size: $val;
		-o-background-size: $val;
		background-size: $val;
	}

	@mixin transition($args...) {
		transition: $args;
		-webkit-transition: $args;
	}

	@mixin linear-gradient($args...) {
		background: -webkit-linear-gradient($args);
		background: -o-linear-gradient($args);
		background: -moz-linear-gradient($args);
		background: linear-gradient($args);
	}

	@mixin box-shadow($args...) {
		box-shadow: $args;
		-webkit-box-shadow: $args;
		-moz-box-shadow: $args;
	}

	/*RESPONSIVE BEHAVIOR*/
	@mixin resp-title-size($size) {
		font-size: $size;
		@media (min-width: ($lg-width + 1)) {
			font-size: $size * 1.20;
		}
		@media (max-width: $lg-width) {
			font-size: $size * 1.10;
		}
		@media (max-width: $md-width) {
			font-size: $size;
		}
		@media (max-width: $sm-width) {
			font-size: $size * 0.75;
		}
		@media (max-width: $xs-width) {
			font-size: $size * 0.5;
		}
	}

	@mixin resp-text-size($size) {
		font-size: $size;
		@media (min-width: ($lg-width + 1)) {
			font-size: $size * 1.20;
		}
		@media (max-width: $lg-width) {
			font-size: $size * 1.10;
		}
		@media (max-width: $md-width) {
			font-size: $size;
		}
	}

	/*STYLES*/
	@mixin default-h1($color) {
		font-family: fadedBlockStyle;
		color: $color;
		text-align: center;
		padding: 50px 0 15px 0;
	}

	@mixin default-h3($color) {
		font-weight: bolder;
		color: $color;
		text-transform: uppercase;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@mixin default-p($color) {
		text-align: center;
		color: $color;
		margin-bottom: 20px;
	}

	@mixin default-a($color) {
		color: $color;
		&:hover {
			text-decoration: none;
			color: darken($color, 30%);
			cursor: pointer;
		}
	}

	@mixin default-btn($color) {
		text-transform: uppercase;
		border-radius: 0;
		@include transition(all 1s);
		outline: 0;
		border: 5px solid $color;
		color: $color;
		background: transparent;
	}

	/*LAYOUTS*/
	@mixin default-text-block(
		$h3Color: $sage-light,
		$h3Size: 28px,
		$pColor: $black,
		$pSize: 14px,
		$aColor: $coral
	) {
		font-family: regularSkinnyCases;
		padding-left: 30px;
		padding-right: 30px;
		h3 {
			@include default-h3($h3Color);
			@include resp-text-size($h3Size);
		}
		p {
			@include default-p($pColor);
			@include resp-text-size($pSize);
		}
		a {
			@include default-a($aColor);
		}
	}

	@mixin boats-div($colorRef) {
		background-image: url("../img/boats-divider-#{$colorRef}.png");
		@include background-size(auto 100%);
		background-repeat: no-repeat;
		background-position: center;
		margin: 30px 0;
		height: 30px;
		width: 100%;
	}
