@import "_helpers";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

body {
	background-color: $white;
	height: 100%;
	min-height: $xs-width - $nav-height;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: regularSkinnyCases;
	*[class*="col-"] {
		padding: 30px 0;
	}
}

section {
	padding-bottom: 30px;
}

.btn, .btn:focus, .btn:active, .btn:hover {
	@include default-btn($white);
}

.section-header > h1 {
	@include default-h1($coral);
	@include resp-title-size(100px);
}

.text-block {
	@include default-text-block;
}

/* ---- NAV SECTION ---- */

#nav {
	padding-bottom: 0;
	/* FIXED NAV */
	.navbar {
		position: fixed;
		height: $nav-height;
		@include transition(all 0.5s);
		width: 100%;
		background: $white;
		left: 0;
		z-index: 10;
		border-radius: 0;
		border: 0;
		@include box-shadow(3px 0 5px $black);
		.btn-group {
			height: 100%;
			margin: 0;
			float: right;
			margin-right: 30px;
			.btn {
				padding: 12px 0;
				float: left;
				height: 100%;
				border: none;
				background: transparent;
				font-size: 20px;
				color: $black;
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
	}

	#lg-nav-fixed {
		.btn-group {
			width: 60%;
			.btn {
				width: 25%;
			}
		}
	}

	#sm-nav-fixed {
		.btn-group {
			width: 45%;
		}
		.open>.btn-default:focus {
			border-color: $white;
			color: $white;
			background: $sage-dark;
		}
		.caret {
			border: {
				left: 8px solid transparent;
				right: 8px solid transparent;
				bottom: 8px solid transparent;
				top: 8px solid $white;
			}
			margin-top: 8px;
			float: right;
			margin-right: 5%;
		}
		.btn {
			width: 100%;
		}
		.dropdown-menu {
			text-transform: uppercase;
			margin: 0 auto;
			padding: 0;
			width: 45%;
			right: 0;
			text-align: center;
			background: $white;
			border: 5px solid $white;
			border-radius: 0;
			a {
				padding: 12px 0;
				color: $black;
				@include transition(all 0.6s);
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
	}

	.logo {
		font: {
			family: fadedBlockStyle;
			size: 20px;
			weight: 400;
		}
		&.fixed {
			position: fixed;
			@include transition(all 0.5s);
			left: 0;
			height: $nav-height;
			z-index: 10;
			margin: 0;
			padding: 12px 30px; /* remaining space between font size and nav height */
			color: $black;
			&:hover {
				@include transition(all 0.6s);
				color: $white;
				background: $coral;
				text-decoration: none;
			}
		}
	}

	#nav-space {
		height: $nav-height;
	}

	/* GALLERY TOGGLES */
	#gallery {
		.boats-div {
			@include boats-div(sage);
		}
		.btn-group {
			width: 100%;
			.btn {
				font-family: thinUpperCases;
				color: $coral;
				width: 33.33%;
				padding: 20px 0;
				border: 0;
				border-bottom: 2px solid $gray;
				border-left: 1px solid $gray;
				border-right: 1px solid $gray;
				@include resp-title-size(28px);
				&:first-child {
					border-left: 0;
				}
				&:last-child {
					border-right: 0;
				}
				&:hover {
					color: $white;
					background-color: $coral;
				}
				&.active {
					color: $white;
					background-color: $coral;
					box-shadow: none;
				}
			}
		}
	}
}

#gallery-photos {
	.grid-sizer, .grid-item {
		width: 32%;
		margin: calc(1.33% / 2);
		opacity: 0;
		@include transition(all 1s);
		img {
			width: 100%;
		}
	}
	.container-fluid {
		padding: calc(1.33% / 2);
	}

	@media (max-width: $sm-width) {
		.grid-sizer, .grid-item {
			width: 48%;
			margin: calc(2% / 2);
		}
		.container-fluid {
			padding: calc(2% / 2);
		}
	}

	@media (max-width: $xs-width) {
		.grid-sizer, .grid-item {
			width: 98%;
			margin: calc(2% / 2);
		}
		.container-fluid {
			padding: calc(2% / 2);
		}
	}

	.engagement, .day-to-day, .adventures {
		display: none;
	}
}
