@import "_helpers";

*, *:before, *:after {
	box-sizing: border-box;
}

* {
	text-align: center;
}

html {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

body {
	height: 100%;
	min-height: 480px;
	width: 100%;
	top: 0;
	left: 0;
}

section {
	height: calc(100% - #{$nav-height}); /* compensating for sticky nav */
	background: $white;
}

.container, .container-fluid {
	border: 1px solid $coral;
	height: 100%;
}

.btn, .btn:focus, .btn:active, .btn:hover {
	@extend %btn-light;
}

*[class*="col-"] {
	border: 1px solid $sage-dark;
}

#home {
	height: 100%;
	background: transparent;
	#bg-img {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: {
			image: url("../img/marina-resized.jpg");
			position: center center;
			repeat: no-repeat;
		}
		@include background-size(cover);
	}
	font: {
		family: regularSkinnyCases;
		weight: normal;
	}
	color: $black;
	.container-fluid {
		background: transparent;
		padding: 0;
	}
	.border-style {
		@extend %border-light;
		height: calc(100% - (30px * 2)); /* height minus top and bottom margins */
	}
	.row {
		position: relative;
		margin: 0;
		height: calc-height(2);
	}
	#logo {
		margin-top: 2%;
		font: {
			family: fadedBlockStyle;
			size: 20px;
			weight: 400;
		}
	}
	.title {
		position: relative;
		letter-spacing: 7px;
		top: 40%;
	}

	.btn-group {
		height: calc-height(3);
		margin-top: 80px;
		width: 100%;
		z-index: 1;
		.btn {
			font-size: 20px;
			float: none;
			width: 20%;
			padding: 2% 0;
			background: transparentize($black, 0.3);
			&:hover {
				background: $sage-dark;
			}
		}
	}

	#lg-nav.fixed {
		position: fixed;
		height: $nav-height;
		width: 100%;
		background: $white;
		top: 0;
		left: 0;
		z-index: 2;
		box-shadow: 3px 0 5px $black;
		@include animation-name(peekIn);
		@include animation-duration(1s);
		.btn-group {
			width: 60%;
			height: 100%;
			margin: 0;
			float: right;
			margin-right: 30px;
		}
		.btn {
			float: left;
			width: 25%;
			height: 100%;
			border: none;
			background: transparent;
			font-size: 20px;
			color: $black;
			&:hover {
				background: $sage-light;
				color: $white;
			}
		}
	}

	#sm-nav {
		width: 100%;
		.btn {
			width: 45%;
			padding: 2% 0;
		}
		.open>.btn-default:focus {
			border-color: $white;
			color: $white;
			background: $sage-dark;
		}
		.caret {
			border: {
				left: 8px solid transparent;
				right: 8px solid transparent;
				bottom: 8px solid $white;
				top: 8px solid transparent;
			}
			float: right;
			margin-right: 5%;
		}
		.dropdown-menu {
			text-transform: uppercase;
			margin: 0 auto;
			padding: 0;
			width: 45%;
			right: 0;
			text-align: center;
			background: $white;
			border: 5px solid $white;
			border-radius: 0;
			a {
				padding: 12px 0;
				color: $black;
				@include transition(all 0.6s);
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
		&.fixed {
			position: fixed;
			height: $nav-height;
			width: 100%;
			background: $white;
			top: 0;
			left: 0;
			z-index: 2;
			box-shadow: 3px 0 5px $black;
			@include animation-name(peekIn);
			@include animation-duration(1s);
			.btn-group {
				width: 45%;
				height: 100%;
				margin: 0;
				float: right;
				margin-right: 30px;
			}
			.caret {
				border: {
					left: 8px solid transparent;
					right: 8px solid transparent;
					bottom: 8px solid transparent;
					top: 8px solid $white;
				}
				margin-top: 8px;
				float: right;
				margin-right: 5%;
			}
			.btn {
				float: left;
				width: 100%;
				height: 100%;
				border: none;
				background: transparent;
				font-size: 20px;
				color: $black;
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
	}

	#logo.fixed {
		position: fixed;
		top: 0;
		left: 0;
		height: $nav-height;
		z-index: 3;
		margin: 0;
		padding: (($nav-height - 20px) / 2) 30px; /* remaining space between font size and nav height */
		color: $black;
		@include animation-name(peekIn);
		@include animation-duration(1s);
		&:hover {
			@include transition(all 0.6s);
			color: $white;
			background: $coral;
		}
	}

	#hashtag {
		position: absolute;
		margin: 0;
		padding-top: 150px;
		color: $white;
		text-align: center;
		width: 100%;
		bottom: 0;
		font: {
			family: thinUpperCases;
			weight: bold;
			size: 25px;
		}
		@include linear-gradient(to top, transparentize($black, 0.5), transparentize($white, 1));
	}
}

#venue .row {
	height: calc-height(2);
}

#program .row {
	height: calc-height(1);
}

#about .row {
	height: calc-height(3);
}

#extra .row {
	height: calc-height(1);
}


/* ---- MOBILE MEDIA QUERIES ----- */
@media (max-width: 767px) {
	#home {
		.title {
			font-size: 27px;
		}
	}
}

@media (max-width: 480px) {
	#home {
		.title {
			font-size: 20px;
		}
		#logo {
			margin-top: 5%;
		}
		.border-style {
			border: none;
			height: 100%;
			margin: 0;
		}
		#hashtag {
			padding-bottom: 10px;
		}
	}
}
