@import "_helpers";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

body {
	height: 100%;
	min-height: $xs-width - $nav-height;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: regularSkinnyCases;
	*[class*="col-"] {
		padding: 30px 0;
	}
}

section {
	padding-bottom: 30px;
}

.btn, .btn:focus, .btn:active, .btn:hover {
	@include default-btn($white);
}

.section-header > h1 {
	@include default-h1($coral);
	@include resp-title-size(100px);
}

.text-block {
	@include default-text-block;
}

.fade-in-text, .fade-in-block {
	position: relative;
	opacity: 0;
	bottom: -100px;
}

/* ---- HOME SECTION ----- */

#home {
	height: 100%;
	background: transparent;
	padding-bottom: 0;
	.container-fluid {
		height: 100%;
	}
	#bg-img {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: {
			image: url("../img/marina-resized.jpg");
			position: center center;
			repeat: no-repeat;
		}
		@include background-size(cover);
	}
	font: {
		family: regularSkinnyCases;
		weight: normal;
	}
	color: $black;
	.container-fluid {
		background: transparent;
		padding: 0;
	}
	.border-style {
		border: 10px solid $white;
		margin: 30px;
		height: calc(100% - (30px * 2)); /* height minus top and bottom margins */
	}
	.row {
		position: relative;
		margin: 0;
		height: 50%;
	}
	.logo {
		margin-top: 2%;
		font: {
			family: fadedBlockStyle;
			size: 20px;
			weight: 400;
		}
	}
	.title {
		position: relative;
		letter-spacing: 7px;
		top: 35%;
		@include resp-title-size(36px);
	}

	.btn-group {
		height: 33.33%;
		margin-top: 80px;
		width: 100%;
		z-index: 1;
		.btn {
			font-size: 20px;
			float: none;
			width: 20%;
			padding: 2% 0;
			background: transparentize($black, 0.3);
			&:hover {
				background: $sage-dark;
			}
		}
	}

	#lg-nav-fixed {
		position: fixed;
		height: $nav-height;
		@include transition(all 0.5s);
		width: 100%;
		background: $white;
		top: -$nav-height;
		left: 0;
		z-index: 10;
		@include box-shadow(3px 0 5px $black);
		.btn-group {
			width: 60%;
			height: 100%;
			margin: 0;
			float: right;
			margin-right: 30px;
		}
		.btn {
			float: left;
			width: 25%;
			height: 100%;
			border: none;
			background: transparent;
			font-size: 20px;
			color: $black;
			&:hover {
				background: $sage-light;
				color: $white;
			}
		}
	}

	#sm-nav {
		width: 100%;
		.btn {
			width: 45%;
			padding: 2% 0;
		}
		.open>.btn-default:focus {
			border-color: $white;
			color: $white;
			background: $sage-dark;
		}
		.caret {
			border: {
				left: 8px solid transparent;
				right: 8px solid transparent;
				bottom: 8px solid $white;
				top: 8px solid transparent;
			}
			float: right;
			margin-right: 5%;
		}
		.dropdown-menu {
			text-transform: uppercase;
			margin: 0 auto;
			padding: 0;
			width: 45%;
			right: 0;
			text-align: center;
			background: $white;
			border: 5px solid $white;
			border-radius: 0;
			a {
				padding: 12px 0;
				color: $black;
				@include transition(all 0.6s);
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
	}

	#sm-nav-fixed {
		position: fixed;
		height: $nav-height;
		@include transition(all 0.5s);
		width: 100%;
		background: $white;
		top: -$nav-height;
		left: 0;
		z-index: 10;
		@include box-shadow(3px 0 5px $black);
		.btn-group {
			width: 45%;
			height: 100%;
			margin: 0;
			float: right;
			margin-right: 30px;
		}
		.open>.btn-default:focus {
			border-color: $white;
			color: $white;
			background: $sage-dark;
		}
		.caret {
			border: {
				left: 8px solid transparent;
				right: 8px solid transparent;
				bottom: 8px solid transparent;
				top: 8px solid $white;
			}
			margin-top: 8px;
			float: right;
			margin-right: 5%;
		}
		.btn {
			float: left;
			width: 100%;
			height: 100%;
			border: none;
			background: transparent;
			font-size: 20px;
			color: $black;
			&:hover {
				background: $sage-light;
				color: $white;
			}
		}
		.dropdown-menu {
			text-transform: uppercase;
			margin: 0 auto;
			padding: 0;
			width: 45%;
			right: 0;
			text-align: center;
			background: $white;
			border: 5px solid $white;
			border-radius: 0;
			a {
				padding: 12px 0;
				color: $black;
				@include transition(all 0.6s);
				&:hover {
					background: $sage-light;
					color: $white;
				}
			}
		}
	}

	.logo.fixed {
		position: fixed;
		top: -$nav-height;
		@include transition(all 0.5s);
		left: 0;
		height: $nav-height;
		z-index: 10;
		margin: 0;
		padding: 12px 30px; /* remaining space between font size and nav height */
		color: $black;
		&:hover {
			@include transition(all 0.6s);
			color: $white;
			background: $coral;
			text-decoration: none;
		}
	}

	#hashtag-area {
		position: absolute;
		margin: 0;
		padding-top: 160px;
		color: $white;
		text-align: center;
		width: 100%;
		bottom: 0;
		@include linear-gradient(to top, transparentize($black, 0.5) 30%, transparentize($white, 1));
		font-weight: bold;
		h4 {
			font-size: 25px;
			font-family: thinUpperCases;
		}
		.countdown {
			.count-area {
				display: inline-block;
				margin-bottom: 10px;
				div {
					display: inline-block;
					&.count-number {
						font-size: 30px;
						border-bottom: 1px solid $white;
						border-right: 1px solid $white;
						padding-right: 5px;
						color: $sage-light;
					}
					&.count-label {
						font-size: 18px;
						margin-right: 15px;
						color: $coral;
					}
				}
			}
		}
	}
}

/* ---- VENUE SECTION ----- */

#venue {
	background: $white;
	.section-header > h1 {
		@include resp-title-size(70px);
	}
	.carousel-container {
		padding-left: 0;
		padding-right: 30px;
		.carousel-control {
			&:active, &:focus {
				opacity: 0.5;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.text-block {
		padding-left: 30px;
		padding-right: 30px;
	}
	.boats-div {
		@include boats-div(coral);
	}
	.img-responsive {
		padding-left: 30px;
	}
}

/* ---- PROGRAM SECTION ----- */

#program {
	@include linear-gradient(to right, transparentize($sage-light, 0.2), transparentize($sage-dark, 0.2) 50%);
	color: $white;
	.boats-div {
		@include boats-div(white);
	}
	.text-block {
		padding-right: 100% * 1/12; /*making a gutter equal to a bootstrap column*/
		h3 {
			color: $black;
			@include resp-text-size(30px);
		}
		.time {
			@include resp-text-size(24px);
			color: $white;
			margin: 10px 20%;
			background: $coral;
		}
		.details {
			color: $white;
			@include resp-text-size(16px);

		}
	}
}

/* ---- ABOUT SECTION ----- */

#about {
	background: $white;
	.boats-div {
		@include boats-div(sage);
	}
	.card-container, .card-section {
		font-family: thinUpperCases;
	}
	.avatar {
		padding-bottom: 0;
		padding-right: 15px;
		padding-left: 15px;
	}
	img {
		border: 10px solid $coral;
	}
	.card-info {
		.card-name {
			color: $coral;
			@include resp-text-size(35px);
			padding-left: 15px;
			padding-right: 15px;
		}
		.card-section {
			padding: 0 15px;
			height: 360px;
			p {
				@include resp-text-size(18px);
			}
			em {
				color: $coral;
			}
			.card-section-banner {
				margin: 20px 0;
				.card-section-title {					
					padding: 0;
					h3 {
						margin: 0;
						display: inline-block;
						padding: 10px 0;
					}
					border-bottom: 2px solid $gray;
				}
				.card-section-toggle {
					padding: 0;
					div {
						color: $coral;
						cursor: pointer;
						width: 100%;
						display: inline-block;
						text-transform: none;
						@include resp-text-size(16px);
						padding: 15px 0;
						@include transition(all 1s);
						&:hover, &:active, &:focus {
							color: $white;
							background: $coral;
						}
					}
				}
			}
		}
		.bio {
			display: block;
		}
		.stats {
			display: none;
			.progress {
				height: auto;
				margin-bottom: 10px;
				background-color: $white;
				border-radius: 0;
				@include box-shadow(none);
				border: 2px solid $sage-light;
			}
			.progress-bar {
				@include resp-text-size(16px);
				text-align: left;
				background-color: $sage-light;
				color: $white;
				@include box-shadow(none);
				padding-left: 10px;

			}
		}
	}
}

#extra {
	@include linear-gradient(to bottom, transparentize($coral, 0.5), transparentize($black, 0.3));
	.section-header {
		h1 {
			color: $sage-light;
		}
		.subtitle {
			font-family: thinUpperCases;
			@include resp-text-size(36px);
			color: $white;
		}
	}
	.boats-div {
		@include boats-div(white);
	}
	.extra-content-area {
		padding: 15px;
		div {
			background: transparentize($black, .7);
			padding: 15px;
			width: 75%;
			margin-top: 15px;
			margin-bottom: 30px;
			cursor: not-allowed;
			&:hover {
				border-color: transparentize($white, .5);
				color: transparentize($white, .5);
			}
		}
		p {
			color: $white;
		}
	}
}

footer {
	@include linear-gradient(to bottom, transparentize($black, 0.3), $black 65%);
	color: $white;
	padding-bottom: 30px;
	.boats-div {
		@include boats-div(white);
		background-repeat: repeat-x;
	}
	.section-header h1 {
		color: $sage-light;
		font-family: thinUpperCases;
		padding: 15px;
		margin: 0;
		@include resp-title-size(75px);
	}
	.countdown {
		.count-area {
			display: inline-block;
			margin-bottom: 10px;
			div {
				display: inline-block;
				&.count-number {
					font-size: 30px;
					border-bottom: 1px solid $white;
					border-right: 1px solid $white;
					padding-right: 5px;
					color: $sage-light;
				}
				&.count-label {
					font-size: 18px;
					margin-right: 15px;
					color: $coral;
				}
			}
		}
	}
	.contact-container {
		padding: 15px;
		.btn {
			padding: 15px;
			width: 75%;
			margin: 10px 0;
			&:hover {
				background: $sage-dark;
			}
		}
	}
	.social-container {
		padding: 15px;

		/* STYLE FOR SOCIAL SHARING */
		.social-share-btns {
			height: 60px;
			margin: 10px 0;
			.icon {
				display: inline-block;
				height: 60px;
				width: 60px;
				margin: 0 15px;
				@include background-size(contain);
				background-repeat: no-repeat;
				&.twitter {
					background-image: url("../img/icon-white-twitter.png");
					@include transition(all 1s);
					&:hover {
						background-image: url("../img/icon-sage-twitter.png");
					}
				}
				&.facebook {
					background-image: url("../img/icon-white-facebook.png");
					@include transition(all 1s);
					&:hover {
						background-image: url("../img/icon-sage-facebook.png");
					}					
				}
				&.instagram {
					background-image: url("../img/icon-white-instagram.png");
					@include transition(all 1s);
					&:hover {
						background-image: url("../img/icon-sage-instagram.png");
					}					
				}
			}
		}

		/* STYLE FOR OUR SOCIAL ACCOUNTS */
		/*
		.social-accounts {
			height: 40px;
			float: right;
			margin: 10px 0;
			padding-right: calc(25% / 2);
			.accounts-owner {
				font-family: thinUpperCases;
				@include resp-text-size(16px);
				height: 100%;
				padding: 10px;
				text-align: left;
				display: inline-block;
				float: left;
			}
			.icon {
				display: inline-block;
				float: left;
				height: 40px;
				width: 40px;
				margin-left: 30px;
				@include background-size(contain);
				background-repeat: no-repeat;
				&.twitter {
					background-image: url("../img/icon-white-twitter.png");
				}
				&.facebook {
					background-image: url("../img/icon-white-facebook.png");
				}
				&.instagram {
					background-image: url("../img/icon-white-instagram.png");
				}
			}
		}*/
	}
	@import "_modal";
}

/* ---- MOBILE MEDIA QUERIES ----- */

@media (max-width: $xs-width) {
	#home {
		.logo {
			margin-top: 5%;
		}
		.border-style {
			border: none;
			height: 100%;
			margin: 0;
		}
		#hashtag-area {
			padding-bottom: 10px;
		}
	}

	#program {
		.text-block {
			h3 {
				margin: 0;
			}
			.details {
				margin: 0;
			}
		}
	}
	
	#about {	
		.card-info {
			.card-section {
				height: 400px;
			}
		}
	}
}

@media (max-width: $sm-width) {
	#venue {
		.carousel-container {
			padding-right: 0;
		}
		.img-responsive {
			padding-left: 0;
		}
	}
	#about {
		.avatar {
			padding-right: 0;
			padding-left: 0;
		}
	}
	#extra {
		@include linear-gradient(to bottom, transparentize($coral, 0.4), transparentize($black, 0.3) 50%);
	}
/*	footer {
		.contact-container {
			.btn {
				height: auto;
				margin: 0;
			}
		}
	}*/
}