/* ---- VARIABLES ---- */
/*COLORS*/
/*FONTS*/
@font-face {
  font-family: fadedBlockStyle;
  /*KG all of me*/
  src: url(../fonts/KGAllofMe.ttf); }

@font-face {
  font-family: regularSkinnyCases;
  /* Aaargh */
  src: url(../fonts/Aaargh.ttf); }

@font-face {
  font-family: thinUpperCases;
  /* Neoteric */
  src: url(../fonts/NEOTERIC_Regular.ttf); }

@font-face {
  font-family: thinUpperCases;
  /* Neoteric */
  src: url(../fonts/NEOTERIC_Bold.ttf);
  font-weight: bold; }

/*FREQUENT VALUES*/
/* ---- MIXINS ---- */
/*COMPATIBILITY TIME SAVERS*/
/*RESPONSIVE BEHAVIOR*/
/*STYLES*/
/*LAYOUTS*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

body {
  background-color: #F3F0F0;
  height: 100%;
  min-height: 430px;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: regularSkinnyCases; }
  body *[class*="col-"] {
    padding: 30px 0; }

section {
  padding-bottom: 30px; }

.btn, .btn:focus, .btn:active, .btn:hover {
  text-transform: uppercase;
  border-radius: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  outline: 0;
  border: 5px solid #F3F0F0;
  color: #F3F0F0;
  background: transparent; }

.section-header > h1 {
  font-family: fadedBlockStyle;
  color: #FF776F;
  text-align: center;
  padding: 50px 0 15px 0;
  font-size: 100px; }
  @media (min-width: 1201px) {
    .section-header > h1 {
      font-size: 120px; } }
  @media (max-width: 1200px) {
    .section-header > h1 {
      font-size: 110px; } }
  @media (max-width: 992px) {
    .section-header > h1 {
      font-size: 100px; } }
  @media (max-width: 768px) {
    .section-header > h1 {
      font-size: 75px; } }
  @media (max-width: 480px) {
    .section-header > h1 {
      font-size: 50px; } }

.text-block {
  font-family: regularSkinnyCases;
  padding-left: 30px;
  padding-right: 30px; }
  .text-block h3 {
    font-weight: bolder;
    color: #9ACEC1;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px; }
    @media (min-width: 1201px) {
      .text-block h3 {
        font-size: 33.6px; } }
    @media (max-width: 1200px) {
      .text-block h3 {
        font-size: 30.8px; } }
    @media (max-width: 992px) {
      .text-block h3 {
        font-size: 28px; } }
  .text-block p {
    text-align: center;
    color: #414143;
    margin-bottom: 20px;
    font-size: 14px; }
    @media (min-width: 1201px) {
      .text-block p {
        font-size: 16.8px; } }
    @media (max-width: 1200px) {
      .text-block p {
        font-size: 15.4px; } }
    @media (max-width: 992px) {
      .text-block p {
        font-size: 14px; } }
  .text-block a {
    color: #FF776F; }
    .text-block a:hover {
      text-decoration: none;
      color: #d50c00;
      cursor: pointer; }

/* ---- NAV SECTION ---- */
#nav {
  padding-bottom: 0;
  /* FIXED NAV */
  /* GALLERY TOGGLES */ }
  #nav .navbar {
    position: fixed;
    height: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 100%;
    background: #F3F0F0;
    left: 0;
    z-index: 10;
    border-radius: 0;
    box-shadow: 3px 0 5px #414143;
    -webkit-box-shadow: 3px 0 5px #414143;
    -moz-box-shadow: 3px 0 5px #414143; }
    #nav .navbar .btn-group {
      height: 100%;
      margin: 0;
      float: right;
      margin-right: 30px; }
      #nav .navbar .btn-group .btn {
        padding: 2% 0;
        float: left;
        height: 100%;
        border: none;
        background: transparent;
        font-size: 20px;
        color: #414143; }
        #nav .navbar .btn-group .btn:hover {
          background: #9ACEC1;
          color: #F3F0F0; }
  #nav #lg-nav-fixed .btn-group {
    width: 60%; }
    #nav #lg-nav-fixed .btn-group .btn {
      width: 25%; }
  #nav #sm-nav-fixed .btn-group {
    width: 45%; }
  #nav #sm-nav-fixed .open > .btn-default:focus {
    border-color: #F3F0F0;
    color: #F3F0F0;
    background: #68968E; }
  #nav #sm-nav-fixed .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #F3F0F0;
    margin-top: 8px;
    float: right;
    margin-right: 5%; }
  #nav #sm-nav-fixed .btn {
    width: 100%; }
  #nav #sm-nav-fixed .dropdown-menu {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    width: 45%;
    right: 0;
    text-align: center;
    background: #F3F0F0;
    border: 5px solid #F3F0F0;
    border-radius: 0; }
    #nav #sm-nav-fixed .dropdown-menu a {
      padding: 12px 0;
      color: #414143;
      transition: all 0.6s;
      -webkit-transition: all 0.6s; }
      #nav #sm-nav-fixed .dropdown-menu a:hover {
        background: #9ACEC1;
        color: #F3F0F0; }
  #nav .logo {
    font-family: fadedBlockStyle;
    font-size: 20px;
    font-weight: 400; }
    #nav .logo.fixed {
      position: fixed;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      left: 0;
      height: 50px;
      z-index: 10;
      margin: 0;
      padding: 12px 30px;
      /* remaining space between font size and nav height */
      color: #414143; }
      #nav .logo.fixed:hover {
        transition: all 0.6s;
        -webkit-transition: all 0.6s;
        color: #F3F0F0;
        background: #FF776F;
        text-decoration: none; }
  #nav #nav-space {
    height: 50px; }
  #nav #gallery .boats-div {
    background-image: url("../img/boats-divider-sage.png");
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 0;
    height: 30px;
    width: 100%; }
  #nav #gallery .btn-group {
    width: 100%; }
    #nav #gallery .btn-group .btn {
      font-family: thinUpperCases;
      color: #FF776F;
      width: 33.33%;
      padding: 20px 0;
      border-width: 0;
      font-size: 28px; }
      @media (min-width: 1201px) {
        #nav #gallery .btn-group .btn {
          font-size: 33.6px; } }
      @media (max-width: 1200px) {
        #nav #gallery .btn-group .btn {
          font-size: 30.8px; } }
      @media (max-width: 992px) {
        #nav #gallery .btn-group .btn {
          font-size: 28px; } }
      @media (max-width: 768px) {
        #nav #gallery .btn-group .btn {
          font-size: 21px; } }
      @media (max-width: 480px) {
        #nav #gallery .btn-group .btn {
          font-size: 14px; } }
      #nav #gallery .btn-group .btn:hover {
        color: #F3F0F0;
        background-color: #FF776F; }
      #nav #gallery .btn-group .btn.active {
        color: #F3F0F0;
        background-color: #FF776F;
        box-shadow: none; }

#gallery-photos .grid-sizer, #gallery-photos .grid-item {
  width: 32%;
  margin: calc(1.33% / 2);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s; }
  #gallery-photos .grid-sizer img, #gallery-photos .grid-item img {
    width: 100%; }

#gallery-photos .container-fluid {
  padding: calc(1.33% / 2); }

@media (max-width: 768px) {
  #gallery-photos .grid-sizer, #gallery-photos .grid-item {
    width: 48%;
    margin: calc(2% / 2); }
  #gallery-photos .container-fluid {
    padding: calc(2% / 2); } }

@media (max-width: 480px) {
  #gallery-photos .grid-sizer, #gallery-photos .grid-item {
    width: 98%;
    margin: calc(2% / 2); }
  #gallery-photos .container-fluid {
    padding: calc(2% / 2); } }

#gallery-photos .engagement, #gallery-photos .day-to-day, #gallery-photos .adventures {
  display: none; }
