* {
	text-align: center;
}

section {
	height: 100vh;
}

.container, .container-fluid {
	border: 1px solid red;
	height: 100%;
}

.row, .row-centered {
	border: 1px solid blue;
}

*[class*="col-"] {
	border: 1px solid green;
}

#jumbotron .row {
	height: 50%;
}

#venue .row {
	height: 50%;
}

#program .row {
	height: 100%;
}

#about .row {
	height: 33.33%;
}

#extra .row {
	height: 100%;
}