/* ---- VARIABLES ---- */
/*COLORS*/
/*FONTS*/
@font-face {
  font-family: fadedBlockStyle;
  /*KG all of me*/
  src: url(../fonts/KGAllofMe.ttf); }

@font-face {
  font-family: regularSkinnyCases;
  /* Aaargh */
  src: url(../fonts/Aaargh.ttf); }

@font-face {
  font-family: thinUpperCases;
  /* Neoteric */
  src: url(../fonts/NEOTERIC_Regular.ttf); }

@font-face {
  font-family: thinUpperCases;
  /* Neoteric */
  src: url(../fonts/NEOTERIC_Bold.ttf);
  font-weight: bold; }

/* ---- FUNCTUONS ---- */
/* ---- MIXINS ---- */
/* ---- PLACEHOLDERS ---- */
.btn, .btn:focus, .btn:active, .btn:hover {
  text-transform: uppercase;
  border-radius: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  outline: 0;
  border: 5px solid #F3F0F0;
  color: #F3F0F0;
  background: transparent; }

#home .border-style {
  border: 10px solid #F3F0F0;
  margin: 30px; }

*, *:before, *:after {
  box-sizing: border-box; }

* {
  text-align: center; }

html {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

body {
  height: 100%;
  min-height: 480px;
  width: 100%;
  top: 0;
  left: 0; }

section {
  height: 100%;
  background: #F3F0F0; }

.container, .container-fluid {
  border: 1px solid #FF776F;
  height: 100%; }

*[class*="col-"] {
  border: 1px solid #68968E; }

#home {
  background: transparent;
  font-family: regularSkinnyCases;
  font-weight: normal;
  color: #414143; }
  #home #bg-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../img/marina-resized.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #home .container-fluid {
    background: transparent;
    padding: 0; }
  #home .border-style {
    height: calc(100% - (30px * 2));
    /* height minus top and bottom margins */ }
  #home .row {
    position: relative;
    margin: 0;
    height: 50%; }
  #home #logo {
    margin-top: 2%;
    font-family: fadedBlockStyle;
    font-size: 20px;
    font-weight: normal; }
  #home .title {
    position: relative;
    letter-spacing: 7px;
    top: 40%; }
  #home .btn-group {
    height: 33.33333%;
    margin-top: 80px;
    width: 100%;
    z-index: 1; }
    #home .btn-group .btn {
      font-size: 20px;
      float: none;
      width: 20%;
      padding: 2% 0;
      background: rgba(65, 65, 67, 0.7); }
      #home .btn-group .btn:hover {
        background: #68968E; }
  #home #sm-nav {
    width: 100%; }
    #home #sm-nav .btn {
      width: 45%;
      padding: 2% 0; }
    #home #sm-nav.open > .btn-default:focus {
      border-color: #F3F0F0;
      color: #F3F0F0;
      background: #68968E; }
    #home #sm-nav .caret {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #F3F0F0;
      border-top: 8px solid transparent;
      float: right;
      margin-right: 5%; }
    #home #sm-nav .dropdown-menu {
      text-transform: uppercase;
      margin: 0 auto;
      width: 45%;
      right: 0;
      text-align: center;
      background: #F3F0F0;
      border: 5px solid #F3F0F0;
      border-radius: 0; }
      #home #sm-nav .dropdown-menu a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #414143;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        #home #sm-nav .dropdown-menu a:hover {
          background: #9ACEC1;
          color: #F3F0F0; }
  #home #hashtag {
    position: absolute;
    margin: 0;
    padding-top: 150px;
    color: #F3F0F0;
    text-align: center;
    width: 100%;
    bottom: 0;
    font-family: thinUpperCases;
    font-weight: bold;
    font-size: 25px;
    background: -webkit-linear-gradient(to top, rgba(65, 65, 67, 0.5), rgba(243, 240, 240, 0));
    background: -o-linear-gradient(to top, rgba(65, 65, 67, 0.5), rgba(243, 240, 240, 0));
    background: -moz-linear-gradient(to top, rgba(65, 65, 67, 0.5), rgba(243, 240, 240, 0));
    background: linear-gradient(to top, rgba(65, 65, 67, 0.5), rgba(243, 240, 240, 0)); }

#venue .row {
  height: 50%; }

#program .row {
  height: 100%; }

#about .row {
  height: 33.33333%; }

#extra .row {
  height: 100%; }

/* ---- MOBILE MEDIA QUERIES ----- */
@media (max-width: 767px) {
  #home .title {
    font-size: 27px; } }

@media (max-width: 480px) {
  #home .title {
    font-size: 20px; }
  #home #logo {
    margin-top: 5%; }
  #home .border-style {
    border: none;
    height: 100%;
    margin: 0; }
  #home #hashtag {
    padding-bottom: 10px; } }
